<h1>eatDaBurger</h1>
{{#each burgerData}}
  <pre>
    {{#if this.devoured}}
      <span>             <span>Eaten: {{burger_name}}
    {{else}}
      {{burger_name}} 
      <form action="/update/{{ id }}" method="post">
      <button type="submit">Chow Down</button>
    </form> 
    {{/if}}  
  </pre>
{{/each}}

<form action="/create" method="post">
  <textarea name="item" rows="2" cols="30"></textarea>
  <button type="submit">Creat a Burger</button>
<form>